.colorset {
    display: inline-block;
}

.colorset__item {
    width: 36px;
    height: 16px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.colorset__item:hover {
    transform: scale(1, 1.5)
}
