.remove-icon {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    text-indent: -99999px;
    color: #666;
    background: none;
    border: none;
    cursor: pointer;
}

.remove-icon:hover {
    background: #ddd;
}

.remove-icon::before,
.remove-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 50%;
    background: currentColor;
}

.remove-icon::before {
    transform:
        translate(-50%, -50%)
        rotate(45deg);
}

.remove-icon::after {
    transform:
        translate(-50%, -50%)
        rotate(-45deg);
}
